<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Đường dẫn không tồn tại!
                        </h3>

                        <p style="font-size: 1.5rem;">Trang bạn đang tìm kím không có sẵn!</p>

                        <a href="/" class="link_404">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /*======================
    404 page
=======================*/
    #app .header_time_work {
        display: none !important;
    }

    #app .header_container.active #login_hidden {
        display: none !important;

    }

    #app_content {
        width: 100% !important;
    }

    .page_404 {
        padding: 40px 0;
        background: #fff;
        font-family: 'Arvo', serif;
    }

    .page_404 img {
        width: 100%;
    }

    .four_zero_four_bg {

        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        background-position: center;
    }


    .four_zero_four_bg h1 {
        font-size: 10rem;
    }

    .four_zero_four_bg h3 {
        font-size: 10rem;
    }

    .h2,
    h2 {
        font-size: 3rem;
    }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
        font-size: 1.3rem;
    }

    .link_404:hover {
        text-decoration: none;

    }

    .contant_box_404 {
        margin-top: -50px;
    }
</style>